@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Wix madefor Text', sans-serif;
}

.custom-image {
  /* background-image: url(https://img.freepik.com/free-vector/topographic-map-background_52683-41984.jpg); */

  background-image: url(https://cdn.vectorstock.com/i/1000x1000/26/35/gray-background-wave-paper-art-design-paper-cut-vector-46802635.webp);

}

